@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
/* Add this to your global CSS file */
.TabsTrigger {
  position: relative;
  transition: all 0.7s ease;
}

.TabsTrigger:hover {
  background-color: transparent;
}

.TabsTrigger[data-state="active"] {
  transition: all 0.7s ease;
}

.TabsTrigger[data-state="inactive"] {
  transition: all 0.7s ease;
}

.TabsContent {
  transition: opacity 0.7s ease;
}
